<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allegro" version="5.2.2.0" targetFramework="native" />
  <package id="AllegroDeps" version="1.5.0.0" targetFramework="native" />
  <package id="boost" version="1.63.0.0" targetFramework="native" />
  <package id="expat" version="2.1.0.4" targetFramework="native" />
  <package id="expat.redist" version="2.1.0.4" targetFramework="native" />
  <package id="libapr" version="1.4.6.2" targetFramework="native" />
  <package id="libapr.redist" version="1.4.6.2" targetFramework="native" />
</packages>